/* Add your styles here */
body {
    border: 0; 
    background-color: #eee;
}
p {
  line-height: 2em;
  font-family: 'Gotu', sans-serif;
  font-weight: 500;
}
h1 {
    text-align: center;
    height: 120px;
  }
  nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: lightblue;
    top: 0;
    height: 140px;
    z-index: 5;
  }
  .nav-text {
    display: flex;
    background-color: rgb(23, 21, 68);
    height: inherit;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: white;
  }
  .nav-button {
    height: 35px;
    margin: 3px;
    transform: skewX(-12deg); 
    background-color: #1bb76e;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 1.5em;
  }
  .nav-button:hover {
    background-color: #13d454;
  }
  
  .nav-text > h2 {
    font-family: 'Playfair Display SC', serif;
  }
  .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 21, 68);
    width: 60%;
    flex: nowrap;
  }
  .top-image {
    position: absolute;
    top: 140px;
    height: 300px;
    width: 100%;
    background-color: #464b57;
    background-image:        url("https://images.unsplash.com/photo-1430232324554-8f4aebd06683?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80");
    background-repeat: no-repeat;
    background-position: center;
  }
  .top-image img {
    max-width: 100%;
    height: auto;  
  }.space {
    height: 120px;
  }
  article {
    position: relative;
    top: 430px;
    min-height: 900px;
    background-color: #eee;
    padding-left: 25px;
    padding-right: 10px;
  }
  .img-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    position: absolute;
    top: 2900px;
    height: 120px;
    background-color: rgb(23, 21, 68);
    text-align: center;
    color: white;
    padding-bottom: 25px;
  }
  blockquote {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
  }
  .sub-heading {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 25px;
  }
  .list-div {
    margin-top: 50px;
    height: 170px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgb(23, 21, 68);
    border-radius: 5px;
    box-shadow: 0 4px 80px;
  }
  #teams-managed {
    margin-left: 350px;
    padding-top: 5px;
    color: whitesmoke;
    font-size: 18px;
  }
  ul h4 {
    font-family: 'Playfair Display SC', serif;;
    font-size: 20px;
    font-weight: 100;
  }
  .hounor-div {
    height: 300px;
    border: 5px solid rgb(23, 21, 68);
    transform: skew(-3deg);
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .hounor-list {
    transform: skew(3deg);
    list-style: none;
    font-size: 1.2em;
  }
  #image {
    height: auto;
    width: 100%;
  }